<header>
  <a routerLink="/">
    <i class="fa fa-arrow-left w3-xlarge"></i>
    Voltar a página inicial
  </a>
</header>
<main>
  <div class="contact">
    <img ngSrc="./assets/contact.png" width="300" height="250" priority />
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="500"
      height="300"
      viewBox="0 0 500 507"
      fill="none"
    >
      <path
        d="M669 332.949C669 516.832 550.246 506.906 365.507 506.906C180.768 506.906 0 516.832 0 332.949C0 149.066 149.761 0 334.5 0C519.239 0 669 149.066 669 332.949Z"
        fill="#8455FF"
      />
    </svg>
  </div>
  <div class="socials">
    <p>Email: <b>joaoaugustofrezende&commat;outlook.com</b></p>
    <p>Telefone: <b>(11) 9 9999-9999</b></p>
  </div>
</main>
