<app-header></app-header>
<main>
  <section class="main-section pad-70">
    <div class="headline">
      <span>KIPER CONSULTORIA</span>
      <h1>A consultoria que você busca para seu software</h1>
    </div>
    <img ngSrc="./assets/principal.png" width="642" height="511" />
  </section>
  <section class="benefits pad-70">
    <div class="benefit-data">
      <h2>
        95% das <br />
        empresas
      </h2>
    </div>
    <p>
      não sabem como lidar com problemas de <b>escalibilidade</b> e grande
      volume de requisições.
    </p>
  </section>
  <section class="cta">
    <app-btn-primary btn-text="Fale com nossos especialista"></app-btn-primary>
  </section>
  <app-news-form></app-news-form>
  <section class="teams pad-70">
    <div class="teamOne">
      <img ngSrc="./assets/team.png" width="550" height="550" />
      <h1>Equipe Capacitada</h1>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis ea
        atque eius saepe molestias cupiditate ipsa repudiandae voluptatem
        tempora, error consequatur autem architecto impedit, cum fugit dicta
        blanditiis, natus sed.
      </p>
    </div>
    <div class="teamTwo">
      <img ngSrc="./assets/project-guide.png" width="550" height="550" />
      <h1>Seus Projetos Do Zero</h1>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis ea
        atque eius saepe molestias cupiditate ipsa repudiandae voluptatem
        tempora, error consequatur autem architecto impedit, cum fugit dicta
        blanditiis, natus sed.
      </p>
    </div>
  </section>
  <section class="contact">
    <h1>Quer levar seu software e seus <br>negócios para outro nível?</h1>
    <app-btn-primary btn-text="Fale com nossos especialista"></app-btn-primary>
  </section>
  <app-footer></app-footer>
</main>
